In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
avocado_df = pd.read_pickle('avoplotto.pkl')

In [5]:
avocado_df.head(3)

         date          type  year  avg_price   size     nb_sold
0  2015-12-27  conventional  2015       0.95  small  9626901.09
1  2015-12-20  conventional  2015       0.98  small  8710021.76
2  2015-12-13  conventional  2015       0.93  small  9855053.66