In [1]:
import pandas as pd

#### Part 1. Tasks:
- Import the Python csv module.
- Create a Python file object in read mode for crime_sampler.csv called csvfile.
- Create an empty list called crime_data.
- Loop over a csv reader on the file object :
- Inside the loop, append the date (first element), type of crime (third element), location description (fifth element), and arrest (sixth element) to the crime_data list.
- Remove the first element (headers) from the crime_data list.
- Print the first 10 records of the crime_data list. This has been done for you, so hit 'Submit Answer' to see the result!

In [2]:
crime_info = pd.read_csv('https://assets.datacamp.com/production/repositories/906/datasets/7fe0304955dbf05e3a0d57c8959578dcef479e81/crime_sampler.csv', sep = ',')

In [3]:
crime_info.head()

,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,District
0,05/23/2016 05:35:00 PM,024XX W DIVISION ST,ASSAULT,SIMPLE,STREET,False,True,14
1,03/26/2016 08:20:00 PM,019XX W HOWARD ST,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,24
2,04/25/2016 03:05:00 PM,001XX W 79TH ST,THEFT,RETAIL THEFT,DEPARTMENT STORE,True,False,6
3,04/26/2016 05:30:00 PM,010XX N PINE AVE,BATTERY,SIMPLE,SIDEWALK,False,False,15
4,06/19/2016 01:15:00 AM,027XX W AUGUSTA BLVD,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,12

In [4]:
crime_data = []

for row in range(len(crime_info)):
    crime_data.append([
        crime_info.loc[row, "Date"],
        crime_info.loc[row, "Primary Type"],
        crime_info.loc[row, "Location Description"],
        crime_info.loc[row, "Arrest"]
    ])

In [5]:
crime_data[:5]

[['05/23/2016 05:35:00 PM', 'ASSAULT', 'STREET', False],
 ['03/26/2016 08:20:00 PM', 'BURGLARY', 'SMALL RETAIL STORE', False],
 ['04/25/2016 03:05:00 PM', 'THEFT', 'DEPARTMENT STORE', True],
 ['04/26/2016 05:30:00 PM', 'BATTERY', 'SIDEWALK', False],
 ['06/19/2016 01:15:00 AM', 'BATTERY', 'SIDEWALK', False]]

In [6]:
crime_data[-5:]

[['02/07/2016 12:34:00 PM', 'OTHER OFFENSE', 'RESIDENCE', False],
 ['08/19/2016 08:55:00 AM', 'THEFT', 'SMALL RETAIL STORE', False],
 ['02/15/2016 08:00:00 AM', 'THEFT', 'APARTMENT', False],
 ['10/21/2016 11:00:00 PM', 'THEFT', 'STREET', False],
 ['01/20/2017 10:31:00 PM',
  'INTERFERENCE WITH PUBLIC OFFICER',
  'STREET',
  True]]

#### Part 2. Tasks:

- Import Counter from collections and datetime from datetime.
- Create a Counter object called crimes_by_month.
- Loop over the crime_data list:
- Using the datetime.strptime() function, convert the first element of each item into a Python Datetime Object called date.
- Increment the counter for the month associated with this row by one. You can access the month of date using date.month.
- Print the 3 most common months for crime.

In [7]:
from collections import Counter
from datetime import datetime

In [8]:
crimes_by_month = Counter()

In [9]:
for row in crime_data:
    date = datetime.strptime(row[0], '%m/%d/%Y %I:%M:%S %p')
    crimes_by_month[date.month] += 1
    
print(crimes_by_month.most_common(3))

[(1, 1948), (2, 1862), (7, 1257)]

#### Part 3. Tasks:

- Import defaultdict from collections and datetime from datetime.
- Create a dictionary that defaults to a list called locations_by_month.
- Loop over the crime_data list:
    - Convert the first element to a date object exactly like you did in the previous exercise.
    - If the year is 2016, set the key of locations_by_month to be the month of date and .append() the location (fifth element of row) to the values list.
- Print the dictionary.

In [10]:
from collections import defaultdict

In [11]:
locations_by_month = defaultdict(list)

In [22]:
for row in crime_data:
    date = datetime.strptime(row[0], '%m/%d/%Y %I:%M:%S %p')
    if date.year == 2016:
        locations_by_month[date.month].append(row[2])
        
# print(locations_by_month)

#### Alternative method using csv.reader for Part 1.
```python

import csv

csvfile = open('crime_sampler.csv', 'r')
crime_data2 = []

for row in csv.reader(csvfile):
    crime_data2.append((row[0], row[2], row[4], row[5]))    

crime_data.pop(0)

print(crime_data2[:10])
```