import pandas as pd

course_link = "https://campus.datacamp.com/courses/data-types-for-data-science-in-python/handling-dates-and-times?ex=1"

In [3]:
station_data = pd.read_csv("https://assets.datacamp.com/production/repositories/906/datasets/b7806a5db41c23931fd1adf02af54ac10c15e61c/cta_daily_station_totals.csv", sep = ',')

In [4]:
station_data.head()

   station_id         stationname        date         daytype  rides
0       40010  Austin-Forest Park  01/01/2015  SUNDAY/HOLIDAY    587
1       40010  Austin-Forest Park  01/02/2015         WEEKDAY   1386
2       40010  Austin-Forest Park  01/03/2015        SATURDAY    785
3       40010  Austin-Forest Park  01/04/2015  SUNDAY/HOLIDAY    625
4       40010  Austin-Forest Park  01/05/2015         WEEKDAY   1752

# I. Datetime Overview

The `datetime` module is part of the Python standard library
<br>
<br>
`.strptime()` method converts from a string to a `datetime` object.
<br>
`.strftime()` method uses a format string to convert a datetime object to a string
<br>
`.isoformat()` method outputs a datetime as an ISO standard string

- **Time Format Strings**

> %d = day of the month as a zero-padded decimal number. <br>
> %m = month as a zero-padded decimal number. <br>
> %Y = Year with century as a decimal number.

In [6]:
from datetime import datetime

### 1. Strings to DateTimes

#### Tasks

- Import the datetime object from datetime. 
- Iterate over the dates_list, using date_str as your iterator variable.
- Convert each date_str into a datetime object called date_dt using the datetime.strptime()  function, with '%m/%d/%Y' as your format. 
- Print each date_dt.

In [19]:
for date_str in station_data["date"][:20]:
    date_dt = datetime.strptime(date_str, '%m/%d/%Y' )
    print(date_dt)

2015-01-01 00:00:00
2015-01-02 00:00:00
2015-01-03 00:00:00
2015-01-04 00:00:00
2015-01-05 00:00:00
2015-01-06 00:00:00
2015-01-07 00:00:00
2015-01-08 00:00:00
2015-01-09 00:00:00
2015-01-10 00:00:00
2015-01-11 00:00:00
2015-01-12 00:00:00
2015-01-13 00:00:00
2015-01-14 00:00:00
2015-01-15 00:00:00
2015-01-16 00:00:00
2015-01-17 00:00:00
2015-01-18 00:00:00
2015-01-19 00:00:00
2015-01-20 00:00:00

### 2. Converting to a String

#### Tasks

- Loop over the first 10 items of the datetimes_list, using item as your iterator variable.
    - Print out the item as a string in the format of 'MM/DD/YYYY'. For this, the format string is '%m/%d/%Y'.
    - Print out the item as an ISO standard string.

In [25]:
datetimes_list = [] # creation of list needed to continue exercise
for date_str in station_data["date"][:10]:
    date_dt = datetime.strptime(date_str, '%m/%d/%Y' )
    datetimes_list.append(date_dt)

In [24]:
for item in datetimes_list[:10]:
    print(datetime.strftime(item, '%m/%d/%Y'))
    print(datetime.isoformat(item))

01/01/2015
2015-01-01T00:00:00
01/02/2015
2015-01-02T00:00:00
01/03/2015
2015-01-03T00:00:00
01/04/2015
2015-01-04T00:00:00
01/05/2015
2015-01-05T00:00:00
01/06/2015
2015-01-06T00:00:00
01/07/2015
2015-01-07T00:00:00
01/08/2015
2015-01-08T00:00:00
01/09/2015
2015-01-09T00:00:00
01/10/2015
2015-01-10T00:00:00

# II. Datetime Components and current time

- All the parts of a datetime object are available as attributes, such as `day`, `month`, `year`, `hour`, `minute`, `second` etc.

- These are great for grouping data

`.now()` method returns the current local datetime
<br>
`.utcnow() method retuns the current UTC datetime`
<br>

In [27]:
local_dt = datetime.now()
print(local_dt)

2022-06-28 17:09:27.800529

In [29]:
local_utc = datetime.utcnow() # utc timezone is the only timezone with a unique method
print(local_utc)

2022-06-28 21:10:47.979420

In [31]:
ridership_sum = pd.read_csv("https://assets.datacamp.com/production/repositories/906/datasets/0c8af86b914fd9edfd3d907b6006fefaadaf827b/cta_daily_summary_totals.csv", sep = ',')

In [32]:
ridership_sum.head()

  service_date day_type     bus  rail_boardings  total_rides
0   01/01/2001        U  297192          126455       423647
1   01/02/2001        W  780827          501952      1282779
2   01/03/2001        W  824923          536432      1361355
3   01/04/2001        W  870021          550011      1420032
4   01/05/2001        W  890426          557917      1448343

In [33]:
from collections import defaultdict

### 1. Grouping by Pieces of Time

#### Tasks:
- Create a defaultdict of an integer called monthly_total_rides.
- Loop over the list daily_summaries, which contains the columns mentioned above in the assignment text.
- Convert the service_date (1st element of daily_summary) to a datetime object called service_datetime. Use '%m/%d/%Y' as your format string.
- Use the month of the service_datetime as the dict key and add the total_rides (5th element of daily_summary) to the current amount for the month. Be sure to convert this into an integer.
- Print monthly_total_rides.

In [79]:
### The code given was in lists, while the data was in a dataframe. 
### Some intermediary steps would be required to iterate over the rows
### This code would assist in answering the questions above.
### By converting the columns to a set of tuples, the summary of riding
### is easy to accomplish

In [75]:
daily_summaries = list(zip(ridership_sum['service_date'], ridership_sum['rail_boardings']))

In [77]:
daily_summaries[:10]

[('01/01/2001', 126455),
 ('01/02/2001', 501952),
 ('01/03/2001', 536432),
 ('01/04/2001', 550011),
 ('01/05/2001', 557917),
 ('01/06/2001', 255356),
 ('01/07/2001', 169825),
 ('01/08/2001', 590706),
 ('01/09/2001', 599905),
 ('01/10/2001', 602052)]

In [78]:
type(daily_summaries[0][0])

str

In [85]:
monthly_total_rides = defaultdict(int)

for daily_summary in daily_summaries:
    service_datetime = datetime.strptime(daily_summary[0], '%m/%d/%Y')
    monthly_total_rides[service_datetime.month] += int(daily_summary[1])
    
print(monthly_total_rides)

defaultdict(<class 'int'>, {1: 198754173, 2: 192292085, 3: 214815420, 4: 212962023, 5: 218203380, 6: 222603674, 7: 226009048, 8: 226698434, 9: 227376891, 10: 260676441, 11: 212481368, 12: 194533610})

### 2. Timezones

- Naive datetime objects have no timezone data (this is what we created with `.now()`)
- Aware datetime objects have a timezone
- Timezone data is available via the `pytz` module via the `timezone` object
- An aware datetime has a `.astimezone()` method that you can get the time in another timezone
> the timezone will be assumed as the timezone of the computer you are working on, otherwise

<br>

In Python 3, you can make a datetime object "aware" by passing a timezone as the `tzinfo` keyword argument to the `.replace()` method on a datetime instance.

In [86]:
from pytz import timezone

In [89]:
datetime.strptime(daily_summaries[0][0], '%m/%d/%Y')

datetime.datetime(2001, 1, 1, 0, 0)

In [90]:
type(daily_summaries[0][0])

str

In [104]:
# the activity required a list with datetime object in first position
daily_w_tup = [] 
for i in daily_summaries:
    daily_w_tup.append((datetime.strptime(i[0], '%m/%d/%Y'), i[1]))

In [106]:
daily_w_tup[:10]

[(datetime.datetime(2001, 1, 1, 0, 0), 126455),
 (datetime.datetime(2001, 1, 2, 0, 0), 501952),
 (datetime.datetime(2001, 1, 3, 0, 0), 536432),
 (datetime.datetime(2001, 1, 4, 0, 0), 550011),
 (datetime.datetime(2001, 1, 5, 0, 0), 557917),
 (datetime.datetime(2001, 1, 6, 0, 0), 255356),
 (datetime.datetime(2001, 1, 7, 0, 0), 169825),
 (datetime.datetime(2001, 1, 8, 0, 0), 590706),
 (datetime.datetime(2001, 1, 9, 0, 0), 599905),
 (datetime.datetime(2001, 1, 10, 0, 0), 602052)]

#### Activity Tasks:

- Create a Timezone object for Chicago ('US/Central') called chicago_usa_tz.
- Create a Timezone object for New York ('US/Eastern') called ny_usa_tz.
- Iterate over the daily_summaries, unpacking it into the variables orig_dt and ridership.
- Make the orig_dt timezone "aware" for Chicago, using chicago_usa_tz. Store the result in chicago_dt.
- Convert chicago_dt to the New York timezone, ny_dt.
- Print the chicago_dt, ny_dt, and ridership.

In [107]:
chicago_usa_tz = timezone('US/Central')

In [108]:
ny_usa_tz = timezone('US/Eastern')

In [111]:
for orig_dt, ridership in daily_w_tup[:10]:
    chicago_dt = orig_dt.replace(tzinfo=chicago_usa_tz)
    ny_dt = chicago_dt.astimezone(ny_usa_tz)
    
    print('Chicago: %s, NY: %s, Ridership: %s' % (chicago_dt, ny_dt, ridership))

Chicago: 2001-01-01 00:00:00-05:51, NY: 2001-01-01 00:51:00-05:00, Ridership: 126455
Chicago: 2001-01-02 00:00:00-05:51, NY: 2001-01-02 00:51:00-05:00, Ridership: 501952
Chicago: 2001-01-03 00:00:00-05:51, NY: 2001-01-03 00:51:00-05:00, Ridership: 536432
Chicago: 2001-01-04 00:00:00-05:51, NY: 2001-01-04 00:51:00-05:00, Ridership: 550011
Chicago: 2001-01-05 00:00:00-05:51, NY: 2001-01-05 00:51:00-05:00, Ridership: 557917
Chicago: 2001-01-06 00:00:00-05:51, NY: 2001-01-06 00:51:00-05:00, Ridership: 255356
Chicago: 2001-01-07 00:00:00-05:51, NY: 2001-01-07 00:51:00-05:00, Ridership: 169825
Chicago: 2001-01-08 00:00:00-05:51, NY: 2001-01-08 00:51:00-05:00, Ridership: 590706
Chicago: 2001-01-09 00:00:00-05:51, NY: 2001-01-09 00:51:00-05:00, Ridership: 599905
Chicago: 2001-01-10 00:00:00-05:51, NY: 2001-01-10 00:51:00-05:00, Ridership: 602052

### 3. Incrementing through time

`timedelta` is used to represent an amount of change in time
- used to add or subtract a set amount of time from a datetime object.

In [112]:
from datetime import timedelta
flashback = timedelta(days=90)

**Example use:**

```python
print(record_dt - flashback)
print(record_dt + flashback)
```

#### Datetime differences

Use the `-` operator to calculate the difference
- returns a timedelta with the differences

```python
time_dif = record_dt - record2_dt
type(time_diff)
```
- this will return `datetime.timedelta`

In [180]:
### The exercise requires a dictionary created from the date (as datetime object) as key
### And the values day_type and total ridership as a nested dicitonary

In [153]:
daily_summaries_dict = list(zip(ridership_sum['service_date'], ridership_sum['day_type'],ridership_sum['rail_boardings']))
daily_summaries_dict[0]

('01/01/2001', 'U', 126455)

In [178]:
import itertools

In [179]:
d = {}
for i in daily_summaries_dict:
    d[(datetime.strptime(i[0], '%m/%d/%Y'))] = {'day_type': i[1], 'total_ridership': i[2]}

    # the only reason for this is to print less items of the created dictionary
x = itertools.islice(d.items(), 0, 4)

for key, value in x:
    print (key, value)

2001-01-01 00:00:00 {'day_type': 'U', 'total_ridership': 126455}
2001-01-02 00:00:00 {'day_type': 'W', 'total_ridership': 501952}
2001-01-03 00:00:00 {'day_type': 'W', 'total_ridership': 536432}
2001-01-04 00:00:00 {'day_type': 'W', 'total_ridership': 550011}

In [187]:
#this is provided for the activity as well.
review_dates = [
    datetime(2013, 12, 22, 0, 0),
    datetime(2013, 12, 23, 0, 0),
    datetime(2013, 12, 24, 0, 0),
    datetime(2013, 12, 25, 0, 0),
    datetime(2013, 12, 26, 0, 0),
    datetime(2013, 12, 27, 0, 0),
    datetime(2013, 12, 28, 0, 0),
    datetime(2013, 12, 29, 0, 0),
    datetime(2013, 12, 30, 0, 0),
    datetime(2013, 12, 31, 0, 0)
]

#### Activity Tasks

- Import timedelta from the datetime module.
- Build a timedelta of 30 days called glanceback using timedelta().
- Iterate over the review_dates, using date as your iterator variable.
- Calculate the date 30 days back by subtracting glanceback from date.
- Print the date, along with 'day_type' and 'total_ridership' from daily_summaries for that date.
- Print the prior_period_dt, along with 'day_type' and 'total_ridership' from daily_summaries for that date (prior_period_dt).

In [181]:
from datetime import timedelta

In [182]:
glanceback = timedelta(days = 30)

In [188]:
for date in review_dates:
    prior_period_dt = date - glanceback 
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (date, 
          d[date]['day_type'], 
          d[date]['total_ridership']))
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (prior_period_dt, 
          d[prior_period_dt]['day_type'], 
          d[prior_period_dt]['total_ridership']))

Date: 2013-12-22 00:00:00, Type: U, Total Ridership: 310920
Date: 2013-11-22 00:00:00, Type: W, Total Ridership: 797556
Date: 2013-12-23 00:00:00, Type: W, Total Ridership: 545145
Date: 2013-11-23 00:00:00, Type: A, Total Ridership: 513370
Date: 2013-12-24 00:00:00, Type: W, Total Ridership: 341784
Date: 2013-11-24 00:00:00, Type: U, Total Ridership: 311868
Date: 2013-12-25 00:00:00, Type: U, Total Ridership: 144912
Date: 2013-11-25 00:00:00, Type: W, Total Ridership: 742488
Date: 2013-12-26 00:00:00, Type: W, Total Ridership: 438202
Date: 2013-11-26 00:00:00, Type: W, Total Ridership: 768042
Date: 2013-12-27 00:00:00, Type: W, Total Ridership: 531774
Date: 2013-11-27 00:00:00, Type: W, Total Ridership: 655899
Date: 2013-12-28 00:00:00, Type: A, Total Ridership: 405004
Date: 2013-11-28 00:00:00, Type: U, Total Ridership: 238112
Date: 2013-12-29 00:00:00, Type: U, Total Ridership: 292169
Date: 2013-11-29 00:00:00, Type: W, Total Ridership: 448939
Date: 2013-12-30 00:00:00, Type: W, Total Ridership: 537971
Date: 2013-11-30 00:00:00, Type: A, Total Ridership: 419067
Date: 2013-12-31 00:00:00, Type: W, Total Ridership: 565346
Date: 2013-12-01 00:00:00, Type: U, Total Ridership: 311377

In [224]:
### For the next activity, they created a list of tuples called 
###'date_ranges' from the dataset at every 30th record, and paired
### the records into tuples in a stepwise fasion

### below, I did the process from scratch to avoid any confusions.

In [223]:
date = []
date_step = []
date_ls = []

for i in daily_summaries:
    dates.append(i[0])

for x in dates[29::30]:
    date_step.append(datetime.strptime(x, '%m/%d/%Y'))

for k in range(len(date_step)-1):
    date_ls.append((date_step[k], date_step[k+1]))
    
pprint.pprint(date_ls[:10])

[(datetime.datetime(2001, 1, 29, 0, 0), datetime.datetime(2001, 2, 28, 0, 0)),
 (datetime.datetime(2001, 2, 28, 0, 0), datetime.datetime(2001, 3, 30, 0, 0)),
 (datetime.datetime(2001, 3, 30, 0, 0), datetime.datetime(2001, 4, 29, 0, 0)),
 (datetime.datetime(2001, 4, 29, 0, 0), datetime.datetime(2001, 5, 29, 0, 0)),
 (datetime.datetime(2001, 5, 29, 0, 0), datetime.datetime(2001, 6, 28, 0, 0)),
 (datetime.datetime(2001, 6, 28, 0, 0), datetime.datetime(2001, 7, 28, 0, 0)),
 (datetime.datetime(2001, 7, 28, 0, 0), datetime.datetime(2001, 8, 27, 0, 0)),
 (datetime.datetime(2001, 8, 27, 0, 0), datetime.datetime(2001, 9, 26, 0, 0)),
 (datetime.datetime(2001, 9, 26, 0, 0), datetime.datetime(2001, 10, 26, 0, 0)),
 (datetime.datetime(2001, 10, 26, 0, 0), datetime.datetime(2001, 11, 25, 0, 0))]

In [201]:
date_range

[]

#### Activity Tasks

- Iterate over `date_ls`, unpacking it into `start_date` and `end_date`.
- Print the `end_date` and `start_date` using the same print() function.
- Print the difference between each `end_date` and `start_date`.

In [230]:
for start_date, end_date in date_ls[:8]:
    print(end_date, start_date)
    print(end_date - start_date)

2001-02-28 00:00:00 2001-01-29 00:00:00
30 days, 0:00:00
2001-03-30 00:00:00 2001-02-28 00:00:00
30 days, 0:00:00
2001-04-29 00:00:00 2001-03-30 00:00:00
30 days, 0:00:00
2001-05-29 00:00:00 2001-04-29 00:00:00
30 days, 0:00:00
2001-06-28 00:00:00 2001-05-29 00:00:00
30 days, 0:00:00
2001-07-28 00:00:00 2001-06-28 00:00:00
30 days, 0:00:00
2001-08-27 00:00:00 2001-07-28 00:00:00
30 days, 0:00:00
2001-09-26 00:00:00 2001-08-27 00:00:00
30 days, 0:00:00

# III. Libraries to deal with date/time

### 1. Parsing with pendulum

- `.parse()` attempts to convert a string to a pendulum datetime object without the need of the format string

### 2. Timezone hopping in Pendulum

- `.in_timezone()` method converts a pendulum time object to a desired timezone.
- `.now()` method accepts a timezone you want to get the current time in.

### 3. Humanizing differences

- `.in_XXX()` methods provide the difference in a chosen metric such as days
-